<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultorio Médico</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1>Bienvenido al Sistema de Citas Médicas</h1>
    <nav>
        <ul>
            <li><a href="/citas">Ver Citas</a></li>
            <li><a href="/citas/nueva">Agendar Cita</a></li>
            <li><a href="/doctores/listaDoctores">Lista de Doctores</a></li>
            <li><a href="/consultorios/listaConsultorios">Lista de Consultorios</a></li> <!-- Nueva opción para Consultorios -->
        </ul>
    </nav>
</header>
<main>
    <section>
        <h2>Agenda tus citas fácilmente</h2>
        <p>Consulta o agrega citas con tus doctores en cualquier momento.</p>
    </section>
</main>
<footer>
    <p>&copy; 2024 Consultorio Médico</p>
</footer>
</body>
</html>
